@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}

body {
  min-height: 100vh;
  line-height: 1;
  text-rendering: optimizeSpeed;
  width: 100vw;
  overflow-x: hidden;
}

@font-face {
  font-family: Roboto;
  src: url(../static/typography/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Unbounded;
  src: url(../static/typography/Unbounded-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Unbounded;
  src: url(../static/typography/Unbounded-Regular.ttf);
  font-weight: 400;
}
