@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}

body {
  min-height: 100vh;
  line-height: 1;
  text-rendering: optimizeSpeed;
  width: 100vw;
}

@font-face {
  font-family: myFirstFont;
  src: url(../static/typography/Roboto-Regular.ttf);
}
